.protocol-container {
  padding: 15px;

  .protocol-wrap {
    background: #fff;
    padding: 20px;
    font-size: 14px;
    line-height: 20px;


    .pro-main {
      color:#32363C;
    }

    .pro-title {
      color:#32363C;
      padding: 25px 0;
    }

    .pro-sub {
      color: #848a93;
    }
  }

}
